# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Production/Distribution
dist/
dist_electron/
build/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Electron
dist_electron/

# Environment
.env
.env.local
.env.*.local
/.trae
/dist_build
/dist_build_new
/dist_build_tmp

#log
.log
/src/task_watch_os/data
